body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

.directory {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

#search {
    width: 50%;
    padding: 1em;
    font-size: 1.2em;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#member-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.member {
    background-color: #f7f7f7;
    padding: 1em;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.member img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.member-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

